:root {
  --rootPaddingTop: 5px;
  --rootPaddingRight: 5px;
  --rootPaddingBottom: 5px;
  --rootPaddingLeft: 5px;
  --pageBackgroundColor: #000;
  --pageBackgroundImgOpacity: 0;
  --clockColor: #05859e;
  --clockShadowColor: #013642;
}

html,
body,
ul,
p {
  margin: 0;
  padding: 0;
}
html {
  /*height: 100%;*/
  width: 100%;
  /*overflow: hidden;*/
}
body {
  width: 100%;
  /*min-height: 100%;*/
  background-color: var(--pageBackgroundColor);
  color: #fff;
  /* TODO config ? */
  /*background-size: cover;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-shadow: 2px 1px 2px var(--pageBackgroundColor);
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, var(--pageBackgroundImgOpacity));
  z-index: -1;
}

#logs {
  position: absolute;
  bottom: 60px;
  left: 5px;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  max-height: 20vh;
  overflow-y: auto;
}
#logs span {
  color: #5cd5fb;
}

#root {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; /* Prevent main from scrolling */
}
.form-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; /* Prevent main from scrolling */
}
.content {
  /*flex: 1;*/
  overflow-y: auto; /* Allow content to scroll when needed */
  padding: 10px;
}

.scroll-hover {
  /* TODO not working on iPad - we don't have hover states */
  /*overflow: hidden;*/
}
.scroll-hover:hover {
  overflow-y: auto;
}

.row {
  flex-direction: row;
}

.form-body.row {
  /* Space for smaller scroll */
  padding-bottom: 60px;
}

.fit {
  flex: 1;
}

#slides-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}
#slides {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Allow content to scroll when needed */
}

#slides img {
  width: 80px;
  border-radius: 4px;
  margin: 2px;
  cursor: pointer;
  border: 2px solid transparent;
  opacity: 0.6;
  transition: 0.5s;
}

#slides img.active {
  opacity: 1;
  border-color: #3e3e3e55;
}

#collapse {
  transition: 0.5s;
}
#actions .action-btn {
  min-height: 43px;
}
/*.old-browser .action-btn {*/
.action-btn {
  margin: 5px; /* Add space between buttons instead of gap: 10px; */
}

.action-btn:disabled {
  cursor: default;
  color: #cccccc40;
  border-color: #cccccc40;
}
.action-btn:disabled svg {
  fill: #cccccc40;
}

.collapsable-actions {
  overflow: hidden;
}

@keyframes slideLeft {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes slideRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#actions.collapsed .collapsable-actions {
  animation: slideLeft 0.5s forwards;
}
#actions.expanded .collapsable-actions {
  animation: slideRight 0.5s forwards;
}

#scroller-wrapper.collapsed {
  overflow: hidden;
}
#slides-wrapper.collapsed {
  animation: slideLeft 0.5s forwards;
}
#slides-wrapper.expanded {
  animation: slideRight 0.5s forwards;
}

.rotate-180 {
  transform: rotate(-180deg);
}
